.title-about {
	padding-bottom: 100px;
	text-align    : center;
	color         : #434343;

	h3 {
		font-size: 29px;
	}

	@media (max-width: 767.98px) {
		padding-bottom: 15px;

		h3 {
			font-size: 18px;
		}
	}
}

.content-about {
	padding          : 100px 0;
	background-image : url(../img/about/bg-about.png);
	background-repeat: no-repeat;
	background-size  : cover;

	.row {
		align-items: center;

		.col-lg-6 {
			padding: 0 30px;
		}
	}

	span {
		cursor        : pointer;
		user-select   : none;
		display       : inline-block;
		font-size     : 21px;
		color         : $main-color-2;
		letter-spacing: 5px;
		font-style    : italic;

		&.mt-70 {
			margin-top: 70px;
		}
	}

	.title-content {
		display      : inline-block;
		position     : relative;
		margin-bottom: 30px;

		&:after {
			content         : "";
			position        : absolute;
			top             : -65px;
			right           : 0;
			transform       : rotate(45deg);
			transform-origin: 100% 100%;
			background      : #777;
			width           : 1px;
			height          : 200%;
		}

		h2 {
			font-size  : 29px;
			color      : #434343;
			font-weight: 700;
		}
	}

	.desc {
		height    : 380px;
		overflow  : hidden;
		transition: .3s all ease-out;

		p {
			font-size    : 18px;
			margin-bottom: 30px;
			color        : #777777;

			&.bold {
				color        : #000000;
				font-weight  : 700;
				margin-bottom: 50px;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		&.show-more {
			height: 623px;
		}
	}

	figure {
		overflow: hidden;
		height  : 800px;
	}

	@media (max-width: 1300px) {}

	@media (max-width: 1024.98px) {
		padding: 50px 0;

		.row {
			margin: 0 -15px;

			.col-lg-6 {
				padding: 0 15px;
			}
		}

		span {
			&.mt-70 {
				display: none;
			}
		}

		.title-content {
			margin-bottom: 15px;

			&:after {
				content: none;
			}
		}

		.desc {
			height: auto;

			p {
				margin-bottom: 15px;

				&.bold {
					margin-bottom: 15px;
				}
			}

			span {
				display: none;
			}
		}

		figure {
			display: none;
		}
	}

	@media (max-width: 767.98px) {
		padding: 25px 0;

		.title-content {
			h2 {
				font-size: 18px;
			}

			span {
				font-size: 16px;
			}
		}

		.desc {
			p {
				font-size    : 14px;
				margin-bottom: 10px;

				&.bold {
					font-size    : 14px;
					margin-bottom: 10px;
				}
			}
		}
	}
}

.sologan {
	figure {
		position   : relative;
		overflow   : hidden;
		height     : 400px;
		display    : flex;
		align-items: center;

		&:after {
			content   : '';
			position  : absolute;
			background: $main-color-1;
			opacity   : .8;
			top       : 0;
			left      : 0;
			width     : 100%;
			height    : 100%;
		}

		figcaption {
			display        : flex;
			position       : absolute;
			z-index        : 1;
			margin         : 0 auto;
			justify-content: center;
			width          : 100%;

			h5,
			p {
				font-size     : 29px;
				text-transform: uppercase;
			}

			h5 {
				position     : relative;
				padding-right: 100px;
				font-weight  : 700;
				color        : $main-color-2;
				align-self   : center;

				&:after {
					content         : "";
					position        : absolute;
					top             : -40px;
					right           : 0;
					transform       : rotate(45deg);
					transform-origin: 50% 0;
					background      : #FFFFFF;
					width           : 1px;
					height          : 0;
					transition      : height 2s;
					transition-delay: .5s;
				}

				&.active {
					&:after {
						height: 200px;
					}
				}
			}

			p {
				font-weight: 400;
				color      : #FFFFFF;

			}
		}
	}

	@media (max-width: 1024.98px) {
		figure {
			height: 250px;

			figcaption {
				display   : block;
				text-align: center;

				h5,
				p {
					font-size: 24px;
				}

				h5 {
					padding-right: 0;

					&:after {
						content: none;
					}
				}
			}
		}
	}

	@media (max-width: 767.98px) {
		figure {
			height: 200px;

			figcaption {
				h5 {
					margin-bottom: 10px;
				}

				h5,
				p {
					font-size: 16px;
				}
			}
		}
	}
}

.company-system {
	background-image : url(../img/about/bg-about.png);
	background-repeat: no-repeat;
	background-size  : cover;
	padding          : 125px 0;

	figure {
		img {
			display: block;
			margin : 0 auto;
		}
	}

	@media (max-width: 1024.98px) {
		padding: 50px 0;

		figure {
			margin: 0 50px;
		}
	}

	@media (max-width: 767.98px) {
		padding: 25px 0;

		figure {
			margin: 0 15px;
		}
	}
}

.factory-system {
	figure {
		position   : relative;
		overflow   : hidden;
		height     : 400px;
		display    : flex;
		align-items: center;

		&:after {
			content   : '';
			position  : absolute;
			background: $main-color-1;
			opacity   : .8;
			top       : 0;
			left      : 0;
			width     : 100%;
			height    : 100%;
		}

		figcaption {
			position : absolute;
			top      : 50%;
			left     : 50%;
			transform: translate(-50%, -50%);
			z-index  : 1;
		}
	}

	@media (max-width: 1024.98px) {
		figure {
			height: 250px;

			figcaption {
				width: 90%;
			}
		}
	}

	@media (max-width: 767.98px) {
		figure {
			height: 200px;
		}
	}
}

.achievement {
	background: #F5F5F5;
	padding   : 50px 0;

	figure {
		.box-img {
			height       : 252px;
			margin-bottom: 35px;
		}

		p {
			font-size : 17px;
			color     : #000000;
			text-align: center;
		}
	}

	.slider-Achievement {
		position: relative;

		.swiper-button-next,
		.swiper-button-prev {
			top              : -30px;
			background-size  : cover;
			width            : 8px;
			height           : 12px;
			background-repeat: no-repeat;
			z-index          : 1;
			transition       : .3s all ease-in-out;
		}

		.swiper-button-next {
			background-image: url(../img/icons/achievement-next.svg);
			right           : 0;
		}

		.swiper-button-prev {
			background-image: url(../img/icons/achievement-prev.svg);
			left            : unset;
			right           : 30px;
		}
	}

	@media (max-width: 767.98px) {
		padding: 25px 0;

		figure {
			margin: 0 35px;

			.box-img {
				height: auto;
			}

			p {
				font-size: 14px;
			}
		}

		.slider-Achievement {

			.swiper-button-next,
			.swiper-button-prev {
				display: none;
			}
		}
	}
}