section.home-about
	.container
		.row
			.col-lg-3
				figure
					img(src="./img/logo-white.png", alt="", srcset="")
			.col-lg-7
				p Thương hiệu POMINA với chất lượng sản phẩm cao và giá thành cạnh tranh – đã đạt được sự tín nhiệm của khách hàng trong nhiều năm qua. Mang lại giá trị gia tăng cho xã hội, Tôn P   OMINA không ngừng phấn đấu là niềm tự hào của ngành công nghiệp nặng Việt Nam.
			.col-lg-2
				a(href="gioi-thieu.html").btn XEM CHI TIẾT