section.info-product-quality
	ul.list-item
		li.item
			figure
				img(src="./img/about/icon-01.png", alt="")
				figcaption
					span CHỨNG NHẬN
					h5 ISO
					h5 9001: 2015
		li.item
			figure
				img(src="./img/about/icon-02.png", alt="")
				figcaption
					span CHỨNG NHẬN
					h5 ISO
					h5 9001: 2015
		li.item
			figure
				img(src="./img/about/icon-03.png", alt="")
				figcaption
					span CHỨNG NHẬN
					h5 ISO
					h5 9001: 2015