section.info-product-quality
	ul.list-item
		li.item
			figure
				img(src="./img/about/icon-01.png", alt="")
				figcaption
					span CHỨNG NHẬN
					h5.wow.fadeInLeft(data-wow-delay=".2s") ISO
					h5.typeit 9001: 2015
		li.item
			figure
				img(src="./img/about/icon-02.png", alt="")
				figcaption
					span TIÊU CHUẨN QUỐC GIA
					h5.wow.fadeInLeft(data-wow-delay=".2s") A615/A
					h5.typeit 615M - 09b
		li.item
			figure
				img(src="./img/about/icon-03.png", alt="")
				figcaption
					span TIÊU CHUẨN KỸ THUẬT
					h5.wow.fadeInLeft(data-wow-delay=".2s") 7:2011/
					h5.typeit BKHCN