section.banner.wow.fadeIn(data-wow-delay=".2s")
	figure
		img.ofc(src="./img/banner/3.png", alt="", srcset="")
section.content-about
	.container
		.row
			.col-lg-6
				.title-content.wow.fadeInDown(data-wow-delay=".2s")
					h2 GIỚI THIỆU CHUNG
					span về Pomina
				.desc.wow.fadeInLeft(data-wow-delay=".2s")
					p.bold Với công suất 1,5 triệu tấn mỗi năm, POMINA là một trong những nhà máy sản xuất thép xây dựng lớn nhất tại Việt Nam hiện nay
					p Được thành lập vào năm 1999, POMINA là một chuỗi ba nhà máy luyện phôi và cán thép xây dựng với tổng công suất mỗi năm là 1,1 triệu tấn thép xây dựng và 1,5 triệu tấn phôi. Hiện nay, POMINA là một trong những nhà sản xuất thép xây dựng lớn nhất, hiện đại nhất Việt Nam và là doanh nghiệp dẫn đầu thị phần thép xây dựng tại khu vực phía Nam.
					p Năm 2008, nền kinh tế vĩ mô Việt Nam có nhiều bất ổn, mang lại nhiều thách thức cho các doanh nghiệp ngành thép, nhưng các doanh nghiệp thép có nền tảng tốt vẫn tồn tại và phát triển. Ý thức được sự quan trọng của ngành thép trong sự tăng trưởng của ngành công nghiệp nặng và nền kinh tế Việt Nam ngay từ những ngày đầu thành lập. POMINA định hướng phát triển bền vững trên cơ sở đầu tư vào công nghệ hiện đại xanh, thân thiện môi trường.
					p Với mục tiêu mang lại những sản phẩm là “cốt lõi sự sống”, POMINA là nhà sản xuất tiên phong trong việc đầu tư vào các dây chuyền, công nghệ sản xuất hiện đại nhất thế giới từ các nhà cung cấp thiết bị hàng đầu như Techint, Tenova, SMS Concast, Siemens – VAI. POMINA là nhà máy đầu tiên tại Việt Nam áp dụng hệ thống nạp liệu liên tục ngang thân lò Consteel® - một hệ thống sản xuất thân thiện với môi trường – Công nghệ này giúp tại tạo nguồn nguyên liệu tái chế với hệ thống xử lý nước thải đạt tiêu chuẩn tuần hoàn kép, nguồn nước sẽ được tái sử dụng không thải ra bên ngoài và đó cũng chính là xu hướng chung của các nước có nền công nghiệp tiên tiến trên thế giới. POMINA là nhà máy thép đầu tiên tại khu vực phía Nam đạt chứng nhận bảo vệ môi trường ISO 14001:2008 tại thời điểm đó.
				span.mt-70 MORE...
			.col-lg-6
				figure.wow.fadeInRight(data-wow-delay=".2s")
					img.ofc(src="./img/about/item-about-1.png", alt="")
section.sologan
	figure
		img.ofc(src="./img/banner/4.png", alt="", srcset="")
		figcaption
			h5.wow.fadeInLeft(data-wow-delay=".3s") TẦM NHÌN - SỬ MỆNH
			p.wow.fadeInLeft(data-wow-delay=".9s") Không ngừng phấn đấu, là niềm tự hào của ngành công nghiệp nặng Việt Nam
section.leaders
	.container
		.title-about.wow.fadeInDown(data-wow-delay=".2s")
			h3 BAN LÃNH ĐẠO
			p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula.
		.slider-Leaders
			.swiper-container
				.swiper-wrapper
						-for(i=1;i<5;i++)
							.swiper-slide
								figure
									.box-img
										img.ofc(src="./img/about/leader-"+i+".png", alt="", srcset="")
									figcaption
										h3 ĐẶNG THẾ LONG
										h4 DEVERLOP
										p.limit-line Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis Integer tincidunt.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis Integer tincidunt.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis Integer tincidunt.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis Integer tincidunt.
										ul.list-contact
											li.item
												h5 Phone
												span 0123-456-7890
											li.item
												h5 Email
												span team@example.com
			.swiper-button-next
			.swiper-button-prev
section.factory-system
	figure
		img.ofc(src="./img/banner/5.png", alt="", srcset="")
		figcaption.wow.fadeIn(data-wow-delay=".2s")
			img(src="./img/banner/factory-system.png", alt="", srcset="")
section.achievement
	.container
		.title-about.pb-100.wow.fadeInDown(data-wow-delay=".2s")
			h3.mb-0 GIẢI THƯỞNG VÀ THÀNH TỰU
		.slider-Achievement
			.swiper-container
				.swiper-wrapper
						-for(i=1;i<6;i++)
							.swiper-slide
								figure
									.box-img
										img.ofc(src="./img/about/achievement-"+i+".png", alt="", srcset="")
									figcaption
										p Người tiêu dùng bình chọn Hàng Việt Nam Chất Lượng Cao 2018
			.swiper-button-next
			.swiper-button-prev