.contact {
	margin: 40px 0 60px;

	.box-form-contact {
		width        : 1090px;
		padding-right: 15px;
		padding-left : 15px;
		margin-top   : 75px;
		margin-right : auto;
		margin-left  : auto;

		h3 {
			font-size    : 18px;
			color        : #434343;
			margin-bottom: 20px;
		}

		p {
			color: #777777;
		}

		.list-contact {
			.item-contact {
				margin-bottom: 35px;
			}
		}

		.desc {
			h3 {
				text-transform: uppercase;
			}

			p {
				font-size: 18px;
			}
		}

		form {
			margin-top: 30px;

			.form-row {
				margin: 0 -7.5px;

				.form-group {
					padding      : 0 7.5px;
					margin-bottom: 15px;

					input {
						color      : #777777;
						width      : 100%;
						line-height: 60px;
						padding    : 0 20px;
						border     : 1px solid #F5F5F5;
					}

					textarea {
						color  : #777777;
						width  : 100%;
						resize : none;
						border : 1px solid #F5F5F5;
						padding: 20px;
						height : 200px;
					}
				}
			}

			button {
				margin     : 0 auto;
				width      : 144px;
				line-height: 60px;
			}
		}
	}

	@media (max-width: 1200px) {
		.box-form-contact {
			width: 100%;
		}
	}

	@media (max-width: 1024.98px) {
		margin: 0 0 50px 0;

		.box-form-contact {
			margin-top: 50px;

			form {
				button {
					width      : 100px;
					line-height: 50px;
				}
			}
		}
	}

	@media (max-width: 767.98px) {
		margin: 0 0 25px 0;

		.box-form-contact {
			margin-top: 25px;

			h3 {
				font-size    : 16px;
				margin-bottom: 10px;
			}

			p {
				font-size: 14px;
			}

			.list-contact {
				margin-bottom: 15px;

				.item-contact {
					margin-bottom: 15px;
				}
			}

			.desc {
				h3 {
					text-transform: inherit;
				}

				p {
					display: none;
				}
			}

			form {
				margin-top: 0;

				.form-row {
					.form-group {

						input {
							line-height: 48px;
							font-size  : 14px;
						}

						textarea {
							font-size: 14px;
						}
					}
				}

				button {
					font-size  : 14px;
					width      : 80px;
					line-height: 40px;
				}
			}
		}
	}
}