.form-dang-ky {
	padding   : 40px 0;
	background: #F5F5F5;

	.block-form {
		display    : flex;
		flex-wrap  : wrap;
		align-items: center;
		width      : 1020px;
		margin     : 0 auto;

		h3 {
			flex          : 0 0 30%;
			max-width     : 30%;
			color         : #434343;
			font-size     : 32px;
			font-weight   : 700;
			letter-spacing: 3px;
		}

		form {
			flex     : 0 0 70%;
			max-width: 70%;

			.form-group {
				position: relative;
				width   : 100%;

				input {
					font-size    : 18px;
					width        : 100%;
					line-height  : 60px;
					padding      : 0 110px 0 30px;
					border       : none;
					background   : #FFFFFF;
					border-radius: 5px;

					&::placeholder {
						color: #D4D4D4;
					}
				}

				button {
					color        : #FFFFFF;
					font-weight  : 700;
					position     : absolute;
					top          : 0;
					right        : 0;
					background   : $main-color-2;
					border       : none;
					width        : 80px;
					height       : 100%;
					border-radius: 0 5px 5px 0;
				}
			}
		}
	}
}