.product-page {
	margin-bottom: 55px;

	.filter {
		padding        : 45px 0;
		justify-content: flex-end;
	}

	.list-item {
		display  : flex;
		flex-wrap: wrap;
		margin   : 0 -7.5px;

		.item {
			flex     : 0 0 33.3333333333%;
			max-width: 33.3333333333;
			padding  : 0 7.5px;

			.item-product {
				margin-bottom: 50px;

				figure {
					height: 615px;

					@media (max-width: 1600px) {
						height: auto;
					}
				}
			}
		}
	}

	@media (max-width: 1024.98px) {
		margin: 25px 0;

		.filter {
			padding        : 25px 0;
			justify-content: flex-start;
		}

		.list-item {
			.item {
				flex     : 0 0 50%;
				max-width: 50%;

				.item-product {
					margin-bottom: 25px;

					figure {
						height: auto;
					}
				}
			}
		}
	}

	@media (max-width: 767.98px) {
		margin: 0;

		.filter {
			justify-content: space-between;
		}
	}
}