.product-detail {
	margin-top: 70px;

	.overview {

		.slider-ProductDetail {
			display    : flex;
			align-items: center;

			.big-image {
				flex        : 0 0 600px;
				max-width   : 600px;
				margin-right: 35px;

				figure {
					height: 100%;
				}

				.swiper-container {
					height: 640px;
				}
			}

			.small-image {
				position : relative;
				flex     : 0 0 110px;
				max-width: 110px;

				figure {
					cursor: pointer;
					height: 110px;
				}

				.swiper-container {
					height: 375px;
				}

				.swiper-slide {
					height : 110px !important;
					opacity: .5;
				}

				.swiper-button-next,
				.swiper-button-prev {
					z-index          : 1;
					transition       : .3s all ease-in-out;
					background-repeat: no-repeat;
					background-size  : cover;
					top              : unset;
					bottom           : -30px;
					width            : 14px;
					height           : 8px;
				}

				.swiper-button-next {
					right           : 25px;
					background-image: url(../img/icons/next-slider-product-detail.svg);
				}

				.swiper-button-prev {
					left            : 25px;
					background-image: url(../img/icons/prev-slider-product-detail.svg);
				}

				.swiper-slide-thumb-active {
					opacity: 1;
				}


			}
		}

		.info-product {
			h1 {
				font-size    : 42px;
				font-weight  : 700;
				color        : #434343;
				margin-bottom: 20px;
			}

			h5 {
				font-size     : 21px;
				color         : $main-color-2;
				font-weight   : 400;
				padding-bottom: 25px;
				border-bottom : 1px solid #F5F5F5;
			}

			.desc {
				margin-top: 75px;

				p {
					font-size    : 17px;
					color        : #777777;
					margin-bottom: 20px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			.btn {
				position   : relative;
				margin     : 100px auto 0;
				width      : 200px;
				line-height: 50px;

				p {
					display    : inline-block;
					margin-left: 10px;
				}
			}
		}
	}

	.tab-information {
		margin-top: 85px;

		.list-tab {
			display        : flex;
			flex-wrap      : wrap;
			justify-content: space-between;
			align-items    : center;
			border         : 1px solid #F5F5F5;

			.item {
				cursor     : pointer;
				user-select: none;
				position   : relative;
				flex       : 0 0 50%;
				max-width  : 50%;

				color      : $main-color-1;
				line-height: 75px;
				font-size  : 17px;
				font-weight: 700;
				text-align : center;
				transition : .3s all ease-in-out;

				&:after {
					content     : '';
					position    : absolute;
					left        : 50%;
					transform   : translateX(-50%);
					bottom      : -16px;
					border-left : 8px solid transparent;
					border-right: 8px solid transparent;
					border-top  : 16px solid $main-color-1;

					opacity   : 0;
					transition: .3s all ease-in-out;
				}

				&.active {
					color     : #FFFFFF;
					background: $main-color-1;
					box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: .16);

					&:after {
						opacity: 1;
					}
				}
			}
		}

		.tab-content {
			background: #FCFCFC;
			padding   : 60px;

			.item {
				margin-bottom: 70px;

				h5 {
					font-size    : 17px;
					color        : #000000;
					font-weight  : 700;
					margin-bottom: 35px;
				}

				p {
					font-size: 17px;
					color    : #777777;
				}
			}

			table {
				width     : 100%;
				text-align: center;

				th,
				td {
					border   : 1px solid #707070;
					padding  : 20px;
					font-size: 18px;
				}

				th {
					color: $main-color-2;
				}

				td {
					color: #434343;
				}
			}
		}
	}
}