.same-product {

	margin: 85px 0;

	figure {
		height: 420px;
	}

	h3 {
		font-size  : 29px;
		font-weight: 700;
		color      : $main-color-2;
		padding    : 60px 0;
		border-top : 1px solid #F5F5F5;
	}
}