.home-banner {
	.slider-HomeBanner {
		figure {
			position: relative;
			height  : 100vh;

			figcaption {
				position : absolute;
				max-width: 660px;
				top      : 35%;
				left     : 15%;

				h3 {
					color      : #ffffff;
					font-size  : 65px;
					text-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 1.0);
				}

				p {
					color        : #ffffff;
					font-size    : 24px;
					margin-bottom: 35px;
				}
			}
		}
	}

	// SET HIỆU ỨNG CHO SLIDER
	.swiper-container {
		.swiper-slide {
			figure {
				img {
					transition      : 1s all ease-in-out;
					transform-origin: 0 0;
					animation       : leaves 5s ease-in-out infinite alternate;

					@-webkit-keyframes leaves {
						0% {
							-webkit-transform: scale(1);
						}

						100% {
							-webkit-transform: scale(1.1);
						}
					}

					@keyframes leaves {
						0% {
							transform: scale(1);
						}

						100% {
							transform: scale(1.1);
						}
					}
				}
			}

			&.swiper-slide-active {
				figure {
					img {
						transform: scale(1.2);
					}

					h3,
					p,
					.btn-new {
						-webkit-animation-fill-mode: both;
						animation-fill-mode        : both;
						-webkit-animation-name     : fadeInLeft;
						animation-name             : fadeInLeft;

						@-webkit-keyframes fadeInLeft {
							0% {
								opacity          : 0;
								-webkit-transform: translateX(-200px);
								transform        : translateX(-200px)
							}

							100% {
								opacity          : 1;
								-webkit-transform: translateX(0);
								transform        : translateX(0)
							}
						}

						@keyframes fadeInLeft {
							0% {
								opacity          : 0;
								-webkit-transform: translateX(-200px);
								-ms-transform    : translateX(-200px);
								transform        : translateX(-200px)
							}

							100% {
								opacity          : 1;
								-webkit-transform: translateX(0);
								-ms-transform    : translateX(0);
								transform        : translateX(0)
							}
						}
					}

					h3 {
						-webkit-animation-duration: 2s;
						animation-duration        : 2s;
					}

					p {
						-webkit-animation-duration: 3s;
						animation-duration        : 3s;
					}

					.btn-new {
						-webkit-animation-duration: 4s;
						animation-duration        : 4s;
					}
				}
			}
		}

		.swiper-button-next,
		.swiper-button-prev {
			background-size  : cover;
			width            : 80px;
			height           : 80px;
			background-repeat: no-repeat;
			z-index          : 1;
			transition       : .3s all ease-in-out;


		}

		.swiper-button-next {
			background-image: url(../img/icons/next-home-banner.svg);
		}

		.swiper-button-prev {
			background-image: url(../img/icons/prev-home-banner.svg);
		}
	}

	@media (max-width: 1300px) {
		.slider-HomeBanner {
			figure {
				figcaption {
					h3 {
						font-size: 45px;
					}
				}
			}
		}
	}

	@media (max-width: 1024.98px) {
		.slider-HomeBanner {
			figure {
				height: auto;

				figcaption {
					max-width: 460px;
					left     : 10%;
					top      : 50%;
					transform: translateY(-50%);

					h3 {
						font-size: 35px;
					}

					p {
						width        : 80%;
						font-size    : 18px;
						margin-bottom: 15px;
					}
				}
			}
		}

		.swiper-container {

			.swiper-button-next,
			.swiper-button-prev {
				display: none;
			}
		}
	}

	@media (max-width: 767.98px) {
		.slider-HomeBanner {
			figure {
				figcaption {
					max-width: 320px;
					left     : 20px;

					h3 {
						font-size    : 14px;
						margin-bottom: 15px;
					}

					p {
						font-size: 14px;
					}
				}
			}
		}
	}
}

.index-1 {
	padding: 100px 0;

	.list-item {
		display     : flex;
		flex-wrap   : wrap;
		margin      : 55px -10px 0;
		padding-left: 35px;

		.item {
			flex         : 0 0 50%;
			max-width    : 50%;
			padding      : 0 10px;
			margin-bottom: 40px;
		}

		figure {
			overflow: hidden;

			figcaption {
				h5 {
					font-size  : 24px;
					margin     : 15px 0 5px;
					color      : $main-color-1;
					font-weight: 700;
				}

				p {
					color             : #737373;
					-webkit-line-clamp: 4;
					max-height        : 96px;
				}
			}
		}
	}

	@media (max-width: 1024.98px) {
		padding: 50px 0;

		.col-md-6 {
			&:first-child {
				align-self: center;
			}
		}

		.list-item {
			padding-left: 0;
			margin      : 25px -10px 0;

			figure {
				img {
					display: block;
					margin : 0 auto;
				}

				figcaption {
					h5 {
						font-size : 16px;
						text-align: center;
					}

					p {
						display: none;
					}
				}
			}
		}
	}

	@media (max-width: 767.98px) {
		padding: 25px 0;
	}

}

.index-2 {
	background : $main-color-1;
	height     : 325px;
	display    : flex;
	align-items: center;

	.list-item {
		display        : flex;
		align-items    : center;
		justify-content: space-between;

		.item {
			text-align: center;
			height    : 140px;
			width     : 210px;

			h3 {
				position : relative;
				color    : #FFFFFF;
				font-size: 56px;

				&:after {
					content   : '';
					position  : absolute;
					bottom    : 0;
					left      : 50%;
					transform : translateX(-50%);
					width     : 40px;
					height    : 5px;
					background: $main-color-2;
				}
			}

			p {
				margin-top: 25px;
				font-size : 21px;
				color     : #FFFFFF;
			}
		}
	}

	@media (max-width: 1024.98px) {
		height: 200px;

		.list-item {
			.item {
				height: 86px;

				h3 {
					font-size: 35px;
				}

				p {
					margin-top: 10px;
					font-size : 16px;
				}
			}
		}
	}

	@media (max-width: 767.98px) {
		display: none;
	}
}

.index-3 {
	padding: 100px 0;

	.slider-HomeProduct {
		position: relative;
		margin  : 25px 0;
		padding : 0 50px;

		.swiper-button-next,
		.swiper-button-prev {
			background-size  : cover;
			width            : 80px;
			height           : 80px;
			top              : 35%;
			background-repeat: no-repeat;
			z-index          : 1;
			transition       : .3s all ease-in-out;

			&.swiper-button-disabled {
				display: none;
			}
		}

		.swiper-button-next {
			background-image: url(../img/icons/next-slider.svg);
		}

		.swiper-button-prev {
			background-image: url(../img/icons/prev-slider.svg);
		}
	}

	figure {
		figcaption {
			margin-top: 25px;
			text-align: center;

			h5 {
				color             : $main-color-1;
				font-size         : 24px;
				-webkit-line-clamp: 1;
			}
		}
	}

	.btn-new {
		margin-left: 35px;
	}

	@media (max-width: 1024.98px) {
		padding: 50px 0;

		.col-md-6 {
			&:last-child {
				align-self: center;
			}
		}

		.slider-HomeProduct {
			padding: 0 25px;

			.swiper-button-next,
			.swiper-button-prev {
				top   : 40%;
				width : 50px;
				height: 50px;
			}

			.swiper-button-prev {
				left: 0;
			}

			.swiper-button-next {
				right: 0;
			}
		}

		figure {
			figcaption {
				margin-top: 10px;

				h5 {
					font-size: 16px;
				}
			}
		}

		.btn-new {
			margin: 0 auto;
		}
	}

	@media (max-width: 767.98px) {
		padding: 25px 0;

		.col-lg-4 {
			order: 2
		}

		.col-lg-8 {
			order: 1;
		}

		.btn-new {
			display: none;
		}
	}
}

.index-4 {
	position           : relative;
	background-image   : url(../img/index-4/bg.png);
	width              : 100%;
	height             : 390px;
	background-repeat  : no-repeat;
	background-size    : cover;
	background-position: center;

	.content {
		position  : absolute;
		top       : 50%;
		left      : 50%;
		transform : translate(-50%, -50%);
		text-align: center;

		h3 {
			font-size    : 32px;
			margin-bottom: 25px;
		}

		h3,
		p {
			color: #FFFFFF;
		}
	}

	@media (max-width: 1024.98px) {
		height: 250px;

		.content {
			h3 {
				font-size: 24px;
			}

			p {
				font-size: 14px;
			}
		}
	}

	@media (max-width: 767.98px) {
		height: 150px;

		.content {
			h3 {
				font-size    : 18px;
				margin-bottom: 0;
			}

			p {
				display: none;
			}
		}
	}
}

.index-5 {
	margin: 100px 0;

	.btn-new {
		margin-left: auto;
	}

	.list-item {
		margin-top: 20px;

		.item {
			figure {
				.box-img {
					height: 300px;
				}

				figcaption {
					margin-top: 20px;

					h5 {
						position : relative;
						font-size: 24px;
						color    : $main-color-1;
						padding  : 10px 0 10px 30px;

						&:after {
							content   : '';
							position  : absolute;
							left      : 0;
							top       : 50%;
							transform : translateY(-50%);
							width     : 3px;
							height    : 100%;
							background: #ed2024;
						}
					}

					.date {
						font-size   : 12px;
						color       : #737373;
						padding-left: 30px;
					}

					p {
						margin-top        : 15px;
						color             : #737373;
						padding-left      : 30px;
						-webkit-line-clamp: 3;
					}
				}
			}

			.read-more {
				margin-top : 50px;
				margin-left: 30px;
			}
		}
	}

	@media (max-width: 1024.98px) {
		margin: 50px 0;

		.list-item {
			.item {
				figure {
					.box-img {
						height: 150px;
					}

					figcaption {
						margin-top: 20px;

						h5 {
							font-size: 16px;
							padding  : 5px 0 5px 30px;
						}

						p {
							font-size         : 14px;
							-webkit-line-clamp: 4;
							max-height        : 84px;
						}
					}
				}

				.read-more {
					margin-top: 15px;
				}
			}
		}
	}

	@media (max-width: 767.98px) {
		margin: 25px 0;

		.btn-new {
			margin-top : 15px;
			margin-left: 35px;
		}

		.list-item {
			.item {
				margin-bottom: 25px;

				figure {
					.box-img {
						height: 200px;
					}
				}
			}
		}
	}
}