.aside-same-news
	.list-same-news
		-for(i=1;i<5;i++)
			.item
				a(href="tintuc-ct.html")
					figure
						.box-img
							img.ofc(src="./img/news/"+i+".png", alt="", srcset="")
							.icon
						figcaption
							.title-news.limit-line TUYỂN DỤNG NHÂN VIÊN LẬP TRÌNH LƯƠNG HÂP DẪNTUYỂN DỤNG NHÂN VIÊN LẬP TRÌNH LƯƠNG HÂP DẪNTUYỂN DỤNG NHÂN VIÊN LẬP TRÌNH LƯƠNG HÂP DẪNTUYỂN DỤNG NHÂN VIÊN LẬP TRÌNH LƯƠNG HÂP DẪNTUYỂN DỤNG NHÂN VIÊN LẬP TRÌNH LƯƠNG HÂP DẪNTUYỂN DỤNG NHÂN VIÊN LẬP TRÌNH LƯƠNG HÂP DẪNTUYỂN DỤNG NHÂN VIÊN LẬP TRÌNH LƯƠNG HÂP DẪN