section.home-news
	.title.wow.fadeIn(data-wow-delay=".2s")
		span TIN TỨC
		h5 TÔN POMINA
	.list-home-news
		.home-news-item.wow.fadeInDown(data-wow-delay=".2s")
			a(href="tin-tuc-chi-tiet.html")
				figure
					.box-img
						img.ofc(src="./img/news/1.png", alt="", srcset="")
						.date
							h5 26
							span TH8
					figcaption
						.desc
							p.limit-line Thép Pomina (POM): Năm 2017 đạt mức lãi sau thuế kỷ lục gần 700 tỷ đồng
						.bottom
							span By Pomina
							a(href="tin-tuc-chi-tiet.html") Xem thêm
		.home-news-item.wow.fadeInUp(data-wow-delay=".2s")
			a(href="tin-tuc-chi-tiet.html")
				figure
					.box-img
						img.ofc(src="./img/news/2.png", alt="", srcset="")
						.date
							h5 26
							span TH8
					figcaption
						.desc
							p.limit-line Thép Pomina (POM): Năm 2017 đạt mức lãi sau thuế kỷ lục gần 700 tỷ đồng . Thép Pomina (POM): Năm 2017 đạt mức lãi sau thuế kỷ lục gần 700 tỷ đồng Thép Pomina.
						.bottom
							span By Pomina
							a(href="tin-tuc-chi-tiet.html") Xem thêm
