section.home-news
	.container
		.title
			span TIN TỨC
			h5 TÔN POMINA
		.list-home-news
			.home-news-item
				figure
					.box-img
						img.ofc(src="./img/news/1.png", alt="", srcset="")
					figcaption
						.desc
							p.limit-line Thép Pomina (POM): Năm 2017 đạt mức lãi sau thuế kỷ lục gần 700 tỷ đồng
			.home-news-item
				figure
					.box-img
						img.ofc(src="./img/news/1.png", alt="", srcset="")
					figcaption
						.desc
							p.limit-line Thép Pomina (POM): Năm 2017 đạt mức lãi sau thuế kỷ lục gần 700 tỷ đồng
