section.home-banner
	.swiper-container.slider-HomeBanner
		.swiper-wrapper
			-for(i=1;i<5;i++)
				.swiper-slide
					figure
						img.ofc(src="./img/banner/1.png", alt="", srcset="")
						figcaption
							h3 Tôn lạnh màu Pomina
								br
								| Vươn ra biển lớn
							p Tôn lạnh màu Pomina AZ100 mang đến sự yên tâm, niềm tự hào cùng năm tháng theo công trình của bạn.
							a(href="#").btn-new CHI TIẾT
		.swiper-button-next
		.swiper-button-prev