section.index-1
	.container
		.row
			.col-lg-8.col-md-8
				.title
					h3 About Us
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
				.list-item
					.item
						figure
							img.svg(src="./img/index-1/icon-index-01.png", alt="", srcset="")
							figcaption
								h5 Lorem Ipsum corenta
								p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					.item
						figure
							img.svg(src="./img/index-1/icon-index-02.png", alt="", srcset="")
							figcaption
								h5 Lorem Ipsum corenta
								p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					.item
						figure
							img.svg(src="./img/index-1/icon-index-03.png", alt="", srcset="")
							figcaption
								h5 Lorem Ipsum corenta
								p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					.item
						figure
							img.svg(src="./img/index-1/icon-index-04.png", alt="", srcset="")
							figcaption
								h5 Lorem Ipsum corenta
								p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
			.col-lg-4.col-md-6
				.box-intro
					figure
						img(src="./img/index-1/item-box-intro.png", alt="", srcset="")
					.box-content
						.content
							h3 Our Services
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					a.read-more.rotate(href="#") READ MORE
