section.index-2
	.container
		ul.list-item
			li.item
				h3 20
				p.typeit Years of Experience
			li.item
				h3 300
				p.typeit Workers
			li.item
				h3 100.000
				p.typeit Top per Year
			li.item
				h3 300
				p.typeit Store Retailer