section.index-3
	.container
		.row
			.col-lg-4
				.box-intro.left
					figure
						img.ofc(src="./img/index-3/item-box-intro.png", alt="", srcset="")
					.box-content
						.content
							h3 Our Services
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					a.read-more.rotate(href="#") READ MORE
			.col-lg-8
				.title
					h3 Our Production
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
				.list-item
					.item
						a(href="#")
							figure
								img.ofc(src="./img/index-3/item-1.png", alt="", srcset="")
								figcaption
									h5 Roll Steel
					.item
						a(href="#")
							figure
								img.ofc(src="./img/index-3/item-2.png", alt="", srcset="")
								figcaption
									h5 Color Steel
									h5 Color
					.item
						a(href="#")
							figure
								img.ofc(src="./img/index-3/item-3.png", alt="", srcset="")
								figcaption
									h5 Color Steel
				a(href="#").btn-new VIEW ALL