section.index-3
	.container
		.row
			.col-lg-4.col-md-6
				.box-intro.left
					figure.wow.fadeInRight(data-wow-delay=".4s")
						img.ofc(src="./img/index-3/item-box-intro.png", alt="", srcset="")
					.box-content.wow.fadeInDown(data-wow-delay=".2s")
						.content
							h3 Our Services
							p.limit-line Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a gorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.alley of type and scrambled it to make a type specimen book.
					a.read-more.rotate.wow.fadeInRight(href="#" data-wow-delay=".2s") READ MORE
			.col-lg-8.col-md-6
				.title.wow.fadeInDown(data-wow-delay=".2s")
					h3 Our Production
					p.limit-line Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book..orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
				.slider-HomeProduct
					.swiper-container
						.swiper-wrapper
							-for(i=1;i<7;i++)
								.swiper-slide
									a(href="#")
										figure
											img.ofc(src="./img/products/"+i+".png", alt="", srcset="")
											figcaption
												h5.limit-line Roll SteelRoll SteelRoll SteelRoll SteelRoll SteelRoll SteelRoll SteelRoll SteelRoll SteelRoll SteelRoll SteelRoll SteelRoll SteelRoll SteelRoll SteelRoll SteelRoll SteelRoll SteelRoll SteelRoll SteelRoll SteelRoll Steel
					.swiper-button-prev
					.swiper-button-next
				a.wow.flipInX.btn-new(href="#" data-wow-delay=".6s") VIEW ALL