section.index-3
	.container
		.row
			.col-lg-4
				.box-intro.left
					figure.wow.fadeInRight(data-wow-delay=".4s")
						img.ofc(src="./img/index-3/item-box-intro.png", alt="", srcset="")
					.box-content.wow.fadeInDown(data-wow-delay=".2s")
						.content
							h3 Our Services
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					a.read-more.rotate.wow.fadeInRight(href="#" data-wow-delay=".2s") READ MORE
			.col-lg-8
				.title.wow.fadeInDown(data-wow-delay=".2s")
					h3 Our Production
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
				.list-item
					.item.wow.fadeInDown(data-wow-delay=".2s")
						a(href="#")
							figure
								img.ofc(src="./img/index-3/item-1.png", alt="", srcset="")
								figcaption
									h5 Roll Steel
					.item.wow.fadeInDown(data-wow-delay=".4s")
						a(href="#")
							figure
								img.ofc(src="./img/index-3/item-2.png", alt="", srcset="")
								figcaption
									h5 Color Steel
									h5 Color
					.item.wow.fadeInDown(data-wow-delay=".6s")
						a(href="#")
							figure
								img.ofc(src="./img/index-3/item-3.png", alt="", srcset="")
								figcaption
									h5 Color Steel
				a.wow.flipInX.btn-new(href="#" data-wow-delay=".6s") VIEW ALL