section.index-5
	.container
		.row
			.title.col-md-6.wow.fadeInDown(data-wow-delay=".2s")
				h3 Lates Company News
			.col-md-6
				a.wow.flipInX.btn-new(href="#" data-wow-delay=".6s") VIEW ALL
		.row.list-item
			-for(i=1;i<4;i++)
				.item.col-md-4.wow.fadeInUp(data-wow-delay=".4s")
					a(href="#")
						figure
							.box-img
								img.ofc(src="./img/index-5/item-"+i+".png", alt="", srcset="")
							figcaption
								h5 Lorem Ipsum coreenta
								span.date 12 April 2019
								p.limit-line Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						a.read-more.wow.fadeInLeft(href="#" data-wow-delay=".4s") READ MORE