extends _layout/_layout.pug

block var
	- var title = 'POMINA | Trang Chủ'

block main
	include _components/banner/b-1.pug
	include _components/about/a-1.pug
	include _components/product/p-1.pug
	include _components/about/a-2.pug
	include _components/news/n-1.pug
	include _components/form-dang-ky/f-1.pug
	include _components/google-map/g-map.pug