section.banner
	figure
		img.ofc(src="./img/banner/2.png", alt="", srcset="")
section.product-page
	.container
		.filter
			h5 SẮP XẾP THEO
			.form-group
				select(name="#")
					option(value="") Mặc định
					option(value="") A - Z
					option(value="") Z - A
					option(value="") G - C
					option(value="") A - Q
					option(value="") 0 - 9
					option(value="") I - U
					option(value="") U - I
		.list-item
			.item
				.item-product.wow.fadeInLeft(data-wow-delay=".2s")
					figure
						a(href="san-pham-chi-tiet.html")
							.box-img
								img.ofc(src="./img/products/1.png", alt="", srcset="")
							figcaption
								h5 TÔN LẠNH
								h5 AZ70 / AZ100
								a(href="san-pham-chi-tiet.html").btn.no-box-shadow XEM CHI TIẾT
							.name-product
								a(href="san-pham-chi-tiet.html")
									p Z70 / AZ100
			.item
				.item-product.wow.fadeInDown(data-wow-delay=".2s")
					figure
						a(href="san-pham-chi-tiet.html")
							.box-img
								img.ofc(src="./img/products/2.png", alt="", srcset="")
							figcaption
								h5 TÔN LẠNH MÀU
								h5 AZ50
								a(href="san-pham-chi-tiet.html").btn.no-box-shadow XEM CHI TIẾT
							.name-product
								a(href="san-pham-chi-tiet.html")
									p MÀU AZ50
			.item
				.item-product.wow.fadeInRight(data-wow-delay=".2s")
					figure
						a(href="san-pham-chi-tiet.html")
							.box-img
								img.ofc(src="./img/products/3.png", alt="", srcset="")
							figcaption
								h5 TÔN LẠNH MÀU
								h5 AZ100
								a(href="san-pham-chi-tiet.html").btn.no-box-shadow XEM CHI TIẾT
							.name-product
								a(href="san-pham-chi-tiet.html")
									p MÀU AZ100
			.item
				.item-product.wow.fadeInLeft(data-wow-delay=".2s")
					a(href="san-pham-chi-tiet.html")
						figure
							.box-img
								img.ofc(src="./img/products/4.png", alt="", srcset="")
							figcaption
								h5 TÔN LẠNH MÀU
								h5 AZ100
								a(href="san-pham-chi-tiet.html").btn.no-box-shadow XEM CHI TIẾT
							.name-product
								a(href="san-pham-chi-tiet.html")
									p AZ 150
			.item
				.item-product.wow.fadeInUp(data-wow-delay=".2s")
					a(href="san-pham-chi-tiet.html")
						figure
							.box-img
								img.ofc(src="./img/products/5.png", alt="", srcset="")
							figcaption
								h5 TÔN LẠNH MÀU`
								h5 AZ100
								a(href="san-pham-chi-tiet.html").btn.no-box-shadow XEM CHI TIẾT
							.name-product
								a(href="san-pham-chi-tiet.html")
									p TÔN LẠNH SHEILD VIET AZ150
			.item
				.item-product.wow.fadeInRight(data-wow-delay=".2s")
					figure
						a(href="san-pham-chi-tiet.html")
							.box-img
								img.ofc(src="./img/products/6.png", alt="", srcset="")
							figcaption
								h5 TÔN LẠNH MÀU
								h5 AZ100
								a(href="san-pham-chi-tiet.html").btn.no-box-shadow XEM CHI TIẾT
							.name-product
								a(href="san-pham-chi-tiet.html")
									p TÔN LẠNH SHEILD VIET AZ150