section.home-list-product
	.container
		.title
			span SẢN PHẨM
			h3 TÔN POMINA
		.list-product
			.row
				.col-lg-4.col-md-6
					.home-product-item.wow.fadeInLeft(data-wow-delay=".2s")
						figure
							.box-img
								img.ofc(src="./img/products/1.png", alt="")
								img(src="./img/products/chu-1.png", alt="")
							figcaption
								h5 TÔN LẠNH
								h5 AZ70 / AZ100
								a(href="san-pham.html").btn.no-box-shadow XEM CHI TIẾT
				.col-lg-4.col-md-6
					.home-product-item.wow.fadeInDown(data-wow-delay=".2s")
						figure
							.box-img
								img.ofc(src="./img/products/2.png", alt="", srcset="")
								img(src="./img/products/chu-2.png", alt="")
							figcaption
								h5 TÔN LẠNH MÀU
								h5 AZ50
								a(href="san-pham.html").btn.no-box-shadow XEM CHI TIẾT
				.col-lg-4.col-md-6
					.home-product-item.wow.fadeInRight(data-wow-delay=".2s")
						figure
							.box-img
								img.ofc(src="./img/products/3.png", alt="", srcset="")
								img(src="./img/products/chu-3.png", alt="")
							figcaption
								h5 TÔN LẠNH MÀU
								h5 AZ100
								a(href="san-pham.html").btn.no-box-shadow XEM CHI TIẾT
				.col-lg-4.col-md-6
					.home-product-item.wow.fadeInLeft(data-wow-delay=".2s")
						figure
							.box-img
								img.ofc(src="./img/products/4.png", alt="", srcset="")
								img(src="./img/products/chu-4.png", alt="")
							figcaption
								h5 TÔN LẠNH MÀU
								h5 AZ150
								a(href="san-pham.html").btn.no-box-shadow XEM CHI TIẾT
				.col-lg-4.col-md-6
					.home-product-item.wow.fadeInRight(data-wow-delay=".2s")
						figure
							.box-img
								img.ofc(src="./img/products/5.png", alt="", srcset="")
								img(src="./img/products/chu-5.png", alt="")
							figcaption
								h5 TÔN LẠNH
								h5 AZ150
								a(href="san-pham.html").btn.no-box-shadow XEM CHI TIẾT