section.banner
	figure
		img.ofc(src="./img/banner/2.png", alt="", srcset="")
section.product-page
	.container
		.filter
			h5 SẮP XẾP THEO
			.form-group
				select(name="#")
					option(value="1") Mặc định
					option(value="2") A - Z
					option(value="3") Z - A
					option(value="4") G - C
					option(value="5") A - Q
					option(value="6") 0 - 9
					option(value="7") I - U
					option(value="8") U - I
		.list-item
			.item
				.item-product.wow.fadeInLeft(data-wow-delay=".2s")
					a(href="san-pham-chi-tiet.html")
						figure
							.box-img
								img.ofc(src="./img/products/1.png", alt="", srcset="")
							figcaption
								p.btn.no-box-shadow XEM CHI TIẾT
						.name-product
							p Z70 / AZ100