section.same-product
	.container
		h3.wow.fadeIn(data-wow-delay=".2s") SẢN PHẨM KHÁC
		.slider-SameProduct
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.item-product.wow.fadeInLeft(data-wow-delay=".2s")
							figure
								.box-img
									img.ofc(src="./img/products/1.png", alt="", srcset="")
								figcaption
									h5 TÔN LẠNH
									h5 AZ70 / AZ100
									a(href="san-pham-chi-tiet.html").btn.no-box-shadow XEM CHI TIẾT
								.name-product.blue
									a(href="san-pham-chi-tiet.html")
										p Z70 / AZ100
					.swiper-slide
						.item-product.wow.fadeInLeft(data-wow-delay=".4s")
							figure
								.box-img
									img.ofc(src="./img/products/2.png", alt="", srcset="")
								figcaption
									h5 TÔN LẠNH
									h5 AZ70 / AZ100
									a(href="san-pham-chi-tiet.html").btn.no-box-shadow XEM CHI TIẾT
								.name-product.blue
									a(href="san-pham-chi-tiet.html")
										p Z70 / AZ100
					.swiper-slide
						.item-product.wow.fadeInLeft(data-wow-delay=".5s")
							figure
								.box-img
									img.ofc(src="./img/products/3.png", alt="", srcset="")
								figcaption
									h5 TÔN LẠNH
									h5 AZ70 / AZ100
									a(href="san-pham-chi-tiet.html").btn.no-box-shadow XEM CHI TIẾT
								.name-product.blue
									a(href="san-pham-chi-tiet.html")
										p Z70 / AZ100
					.swiper-slide
						.item-product.wow.fadeInLeft(data-wow-delay=".6s")
							figure
								.box-img
									img.ofc(src="./img/products/1.png", alt="", srcset="")
								figcaption
									h5 TÔN LẠNH
									h5 AZ70 / AZ100
									a(href="san-pham-chi-tiet.html").btn.no-box-shadow XEM CHI TIẾT
								.name-product.blue
									a(href="san-pham-chi-tiet.html")
										p Z70 / AZ100
			.swiper-button-prev
			.swiper-button-next