section.same-product
	.container
		h3.wow.fadeIn(data-wow-delay=".2s") SẢN PHẨM KHÁC
		.swiper-container.slider-SameProduct
			.swiper-wrapper
				.swiper-slide
					.item-product.mb-80.wow.fadeInLeft(data-wow-delay=".2s")
						figure
							.box-img
								img.ofc(src="./img/products/1.png", alt="")
								.name-product
									img(src="./img/products/chu-1.png", alt="")
							figcaption
								h5 TÔN LẠNH
								h5 AZ70 / AZ100
								a(href="san-pham.html").btn.no-box-shadow XEM CHI TIẾT
				.swiper-slide
					.item-product.mb-80.wow.fadeInLeft(data-wow-delay=".4s")
						figure
							.box-img
								img.ofc(src="./img/products/2.png", alt="", srcset="")
								.name-product
									img(src="./img/products/chu-2.png", alt="")
							figcaption
								h5 TÔN LẠNH MÀU
								h5 AZ50
								a(href="san-pham.html").btn.no-box-shadow XEM CHI TIẾT
				.swiper-slide
					.item-product.mb-80.wow.fadeInLeft(data-wow-delay=".6s")
						figure
							.box-img
								img.ofc(src="./img/products/3.png", alt="", srcset="")
								.name-product
									img(src="./img/products/chu-3.png", alt="")
							figcaption
								h5 TÔN LẠNH MÀU
								h5 AZ100
								a(href="san-pham.html").btn.no-box-shadow XEM CHI TIẾT
				.swiper-slide
					.item-product.mb-80.wow.fadeInLeft(data-wow-delay=".8s")
						figure
							.box-img
								img.ofc(src="./img/products/4.png", alt="", srcset="")
								.name-product
									img(src="./img/products/chu-4.png", alt="")
							figcaption
								h5 TÔN LẠNH MÀU
								h5 AZ150
								a(href="san-pham.html").btn.no-box-shadow XEM CHI TIẾT
				.swiper-slide
					.item-product.mb-80.wow.fadeInRight(data-wow-delay="1s")
						figure
							.box-img
								img.ofc(src="./img/products/5.png", alt="", srcset="")
								.name-product
									img(src="./img/products/chu-5.png", alt="")
							figcaption
								h5 TÔN LẠNH
								h5 AZ150
								a(href="san-pham.html").btn.no-box-shadow XEM CHI TIẾT
				.swiper-slide
					.item-product.mb-80.wow.fadeInRight(data-wow-delay="1.2s")
						figure
							.box-img
								img.ofc(src="./img/products/5.png", alt="", srcset="")
								.name-product
									img(src="./img/products/chu-5.png", alt="")
							figcaption
								h5 TÔN LẠNH
								h5 AZ150
								a(href="san-pham.html").btn.no-box-shadow XEM CHI TIẾT