footer
	.container
		.row
			.col-lg-2
				.logo
					a(href="index.html")
						img(src="./img/logo-white.png", alt="")
			.col-lg-4
				.title-footer LIÊN HỆ
				ul.list-contact
					li.item
						img(src="./img/icons/address.svg", alt="", srcset="")
						p Khu công nghiệp Phú Mỹ 1, thị trấn Phú Mỹ,
							br
							| tỉnh Bà Rịa - Vũng Tàu, Việt Nam
					li.item
						img(src="./img/icons/phone.svg", alt="")
						p (+84) (254) 3895 118
					li.item
						img(src="./img/icons/gmail.svg", alt="")
						p KD Nội đia: kinhdoanh@pomina-flat-steel.com/ Export
							br
							| Sales Department: binh.le@pomina-flat-steel.com
			.col-lg-3
				.title-footer SẢN PHẨM
				ul.list-product
					li.item
						a(href="#") Tôn lạnh AZ70/ AZ100
					li.item
						a(href="#") Tôn lạnh Shield Viet AZ150
					li.item
						a(href="#") Tôn lạnh màu AZ50
					li.item
						a(href="#") Tôn lạnh màu Solar AZ100
					li.item
						a(href="#") Tôn lạnh màu Shield Viet AZ150
			.col-lg-3
				.title-footer FACEBOOK
				.fb-page(data-href='https://www.facebook.com/Web4G.Solution/', data-tabs='', data-width='', data-height='', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='false')
					blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/Web4G.Solution/')
						a(href='https://www.facebook.com/Web4G.Solution/') Web4G Solutions
.copyright
	.container
		.content
			span © Bản quyền thuộc về CÔNG TY TNHH TÔN POMINA. Designed by Web4G Solutions
			span Điều Kiện, Điều Khoản | Bảo Mật