footer
	.container
		.row
			.col-lg-3.footer-about
				.title-footer About
				p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
			.col-lg-3.footer-contact
				.title-footer Contacts
				ul.list-item
					.item
						img(src="./img/icons/address.svg", alt="")
						p No. 1B St., Phu My 1 Industrial Phu My Town, Ba ria - Vung Tau
					.item
						img(src="./img/icons/gmail.svg", alt="")
						p kinhdoanh@pomina-flat-steel.com
					.item
						img(src="./img/icons/phone.svg", alt="")
						ul.list-phone
							li.item-phone +84) (254) 3922 516
							li.item-phone (+84) (254) 3893 498
			.col-lg-3.footer-areas
				.title-footer Areas of work
				ul.list-item
					-for(i=1;i<5;i++)
						li.item
							a(href="#") Pomina Flat Steel
			.col-lg-3.footer-send-mail
				.title-footer Newsletters
				p Subcribe to our newletter to receive updates on our company's products , news, and special offers.
				form(action="#" method="method")
					.form-group
						input(type="email" placeholder="Enter your e-mail")
						button SUBSCRIBE
.copyright
	.container
		.list-item
			.item
				span Copyright 2019 Pomina Flat Steel
			.item
				.list-social-media
					.item-social
						a(href="#")
							img(src="./img/icons/fb.svg", alt="", srcset="")
					.item-social
						a(href="#")
							img(src="./img/icons/twitter.svg", alt="", srcset="")
					.item-social
						a(href="#")
							img(src="./img/icons/pinterest.svg", alt="", srcset="")
					.item-social
						a(href="#")
							img(src="./img/icons/vimeo.svg", alt="", srcset="")
					.item-social
						a(href="#")
							img(src="./img/icons/google.svg", alt="", srcset="")