header
	.container
		.row.no-gutters
			.col-lg-auto
				.toggle-menu-mobile
					img(src="./img/icons/menu-mobile.svg", alt="")
				.logo
					a(href="index.html")
						img(src="./img/logo.png", alt="", srcset="")
				.search-mobile
					img.search(src="./img/icons/search-mobile.svg", alt="")
					img.close(src="./img/icons/close.svg", alt="")
			.col-no-rel
				.top-header
					ul.social-media-menu
						.item
							a(href="#")
								img(src="./img/icons/pinterest.svg", alt="", srcset="")
						.item
							a(href="#")
								img(src="./img/icons/facebook.svg", alt="", srcset="")
						.item
							a(href="#")
								img(src="./img/icons/twitter.svg", alt="", srcset="")
					.search
						form(action="#")
							input(type="text" placeholder="Tìm kiếm")
							button
								img(src="./img/icons/search.svg", alt="", srcset="")
				.bottom-header
					.nav-list
						.nav-item
							a GIỚI THIỆU
							img(src="./img/icons/arrow-select.svg", alt="", srcset="")
							.sub-menu
								.item
									a(href="gioithieu.html") giới thiệu về công ty
								.item
									a(href="tamnhinsumenh.html") tầm nhìn sứ mệnh
								.item
									a(href="lichsuhinhthanh.html") lịch sử hình thành
								.item
									a(href="cacchinhsach.html") các chính sách
						.nav-item
							a DỊCH VỤ
							img(src="./img/icons/arrow-select.svg", alt="", srcset="")
							.sub-menu
								.item
									a(href="dichvu.html") vận chuyển hàng không
								.item
									a(href="dichvu.html") Vận chuyển đường biển (FCL, LCL)
								.item
									a(href="dichvu.html") Chuyển phát nhanh quốc tế
								.item
									a(href="dichvu.html") Vận chuyển nội địa
								.item
									a(href="dichvu.html") Dịch vụ vận chuyển khác
								.item
									a(href="dichvu.html") Đại lý thủ tục hải quan + tích hợp 3pl
						.nav-item
							a(href="yeucaubaogia.html") YÊU CẦU BÁO GIÁ
						.nav-item
							a TIỆN ÍCH
							img(src="./img/icons/arrow-select.svg", alt="", srcset="")
							.sub-menu
								.item
									a(href="tienich-container.html") kích thước container
								.item
									a incoterm
									.sub-menu.children
										.item
											a(href="tienich-incoterm.html") incoterm 2000
										.item
											a(href="tienich-incoterm.html") incoterm 2001
								.item
									a(href="tienich-phuphi.html") phụ phí - phụ phí hàng xuất
								.item
									a(href="tienich-chuyendoi.html") chuyển đổi đơn vị
								.item
									a(href="tienich-cangbien.html") cảng biển, sân bay chính
								.item
									a(href="tienich-tudien.html") từ điển hải
								.item
									a(href="tienich-tigia.html") tỉ giá ngoại tệ
						.nav-item
							a TRA CỨU THÔNG TIN
							img(src="./img/icons/arrow-select.svg", alt="", srcset="")
							.sub-menu
								.item
									a(href="kiemtrahangnhap.html") tra cứu hàng nhập
								.item
									a(href="kiemtrahangxuat.html") tra cứu hàng xuất
								.item
									a(href="kiemtravantaidon.html") kiểm tra vận tải đơn
						.nav-item
							a(href="tintuc.html") TUYỂN DỤNG
						.nav-item
							a LIÊN HỆ
							img(src="./img/icons/arrow-select.svg", alt="", srcset="")
							.sub-menu
								.item
									a(href="lienhetructiep.html") liên hệ trực tiếp
								.item
									a(href="hethongcuahang.html") hệ thống cửa hàng
						.nav-item
							select(name="")
								option(value="") EN
								option(value="") VN
								option(value="") TQ