header
	.logo
		a(href="index.html")
	.logo-mobile
		a(href="index.html")
			img(src="./img/logo-mobile.png", alt="")
	.toggle-menu-mobile
	.nav-list
		.nav-item
			a(href='gioi-thieu.html') GIỚI THIỆU
		.nav-item
			a(href='san-pham.html') SẢN PHẨM
		.nav-item
			a(href='tin-tuc.html') THÔNG TIN
		.nav-item
			a(href='tin-tuc.html') TUYỂN DỤNG
		.nav-item
			a(href='lien-he.html') LIÊN HỆ
		.nav-item
			select
				option EN
				option VN