header(language='en')
	.logo
		a(href="index.html")
	.logo-mobile
		a(href="index.html")
			img(src="./img/logo-mobile-en.png", alt="")
	.toggle-menu-mobile
	.nav-list
		.nav-item
			a(href='gioi-thieu.html') GIỚI THIỆU
		.nav-item
			a(href='san-pham.html') SẢN PHẨM
			.nav-sub
				.nav-item
					a(href="san-pham-chi-tiet.html") Tôn lạnh Pomina AZ70/AZ100
				.nav-item
					a(href="san-pham-chi-tiet.html") Tôn lạnh Pomina SHIELD VIET AZ150
				.nav-item
					a(href="san-pham-chi-tiet.html") Tôn lạnh màu AZ50
				.nav-item
					a(href="san-pham-chi-tiet.html") Tôn lạnh màu Pomina SOLAR AZ100
				.nav-item
					a(href="san-pham-chi-tiet.html") Tôn lạnh màu Pomina SHIELD VIET AZ150
		.nav-item
			a(href='tin-tuc.html') DỰ ÁN
		.nav-item
			a(href='tin-tuc.html') TIN TỨC
		.nav-item
			a(href='tin-tuc.html') TUYỂN DỤNG
		.nav-item
			a(href='lien-he.html') LIÊN HỆ
		.nav-item
			select
				option EN
				option VN