header
	.container
		.row.no-gutters
			.col-lg-auto
				.toggle-menu-mobile
					img(src="./img/icons/menu-mobile.svg", alt="")
				.logo
					a(href="index.html")
						img(src="./img/logo.png", alt="", srcset="")
				.search-mobile
					img.search(src="./img/icons/search-mobile.svg", alt="")
					img.close(src="./img/icons/close.svg", alt="")
			.col-no-rel
				.top-header
					ul.social-media-menu
						.item
							a(href="#")
								img(src="./img/icons/pinterest.svg", alt="", srcset="")
						.item
							a(href="#")
								img(src="./img/icons/facebook.svg", alt="", srcset="")
						.item
							a(href="#")
								img(src="./img/icons/twitter.svg", alt="", srcset="")
					.search
						form(action="#")
							input(type="text" placeholder="Tìm kiếm")
							button
								img(src="./img/icons/search.svg", alt="", srcset="")
				.bottom-header
					.nav-list
						.nav-item
							a(href="gioi-thieu.html") GIỚI THIỆU
						.nav-item
							a(href="san-pham.html") SẢN PHẨM
						.nav-item
							a(href="tin-tuc.html") TIN TỨC
						.nav-item
							a(href="tuyen-dung.html") TUYỂN DỤNG
						.nav-item
							a(href="lien-he.html") LIÊN HỆ
						.nav-item
							select(name="")
								option(value="") EN
								option(value="") VN
								option(value="") TQ