section.form-dang-ky
	.block-form
		h3.wow.fadeInLeft(data-wow-delay=".2s") Đăng ký nhận tin
		form(action="#")
			.form-group
				input(type="text" placeholder="Nhập địa chỉ mail")
				button.wow.flipInX.btn(data-wow-delay=".5s") GỬI