header.custom(language='en')
	.logo
	
		a(href="index.html")
			img(src="./img/landing/logo.png", alt="")
	.logo-mobile
		a(href="index.html")
			img(src="./img/landing/logo.png", alt="")
	.toggle-menu-mobile
	.nav-list
		.nav-item(data-scroll-to="1")
			h3 GIỚI THIỆU
		.nav-item(data-scroll-to="2")
			h3 SẢN PHẨM
		.nav-item(data-scroll-to="5")
			h3 TIN TỨC
		.nav-item(data-scroll-to="9")
			h3 DỰ ÁN
		.nav-item(data-scroll-to="10")
			h3 KHUYẾN MÃI
		.nav-item(data-scroll-to="11")
			h3 LIÊN HỆ
.background-after