#back-to-top {
	cursor  : pointer;
	position: fixed;
	right   : 30px;
	bottom  : 70px;
	z-index : 100;

	opacity   : 0;
	visibility: hidden;
	transition: .5s all ease-in-out;

	width              : 55px;
	height             : 55px;
	background         : $main-color-1;
	border-radius      : 50%;
	background-image   : url(../img/icons/arrow-select-white.svg);
	background-repeat  : no-repeat;
	background-position: center center;
	transform          : rotate(180deg);

	&.active {
		opacity   : 1;
		visibility: visible;
	}

	@media (max-width: 767.98px) {
		display: none;
	}
}