#breadcrumb-wrapper {
	padding-top: 65px;

	h1 {
		font-size  : 42px;
		color      : #434343;
		font-weight: 700;
		text-align : center;
	}

	.breadcrumb {
		list-style     : none;
		display        : flex;
		justify-content: center;
		padding        : 0;

		li {
			a {
				color      : #707070;
				font-size  : 16px;
				display    : inline-block;
				padding-top: 20px;
			}

			&.active {
				a {
					color: $main-color-1;
				}
			}

			&+li {
				&:before {
					font     : normal normal normal 24px/1 "Material Design Icons";
					content  : "\F13E";
					font-size: 10px;
					margin   : 0 12px;
					color    : #1C1C1C;
				}
			}
		}
	}

	@media (max-width: 767.98px) {
		.breadcrumb {
			li {
				a {
					font-size: 12px;
					padding  : 10px 0;
				}
			}
		}
	}
}