#breadcrumb-wrapper {

	h1 {
		font-size  : 42px;
		color      : #434343;
		font-weight: 700;
		text-align : center;
	}

	.breadcrumb {
		list-style     : none;
		display        : flex;
		justify-content: center;
		padding        : 0;

		li {
			a {
				color      : #000000;
				font-size  : 17px;
				display    : inline-block;
				padding-top: 20px;
			}

			&.active {
				a {
					color: $main-color-1;
				}
			}

			&+li {
				&:before {
					content : "/";
					position: relative;
					left    : 0;
					top     : 0;
					margin  : 0 12px;
				}
			}
		}
	}

	@media (max-width: 767.98px) {
		.breadcrumb {
			li {
				a {
					font-size: 12px;
					padding  : 10px 0;
				}
			}
		}
	}
}