footer {
	padding-top: 50px;
	color      : #FFFFFF;
	background : #182e58;

	.title-footer {
		font-size    : 24px;
		font-weight  : 700;
		margin-bottom: 30px;
	}

	.footer-about {
		p {
			color: #6a6b70;
		}
	}

	.footer-contact {
		.list-item {
			.item {
				display      : flex;
				align-items  : flex-start;
				margin-bottom: 40px;

				p {
					margin-left: 25px;
					font-size  : 14px;
				}

				.list-phone {
					margin-left: 25px;

					.item-phone {
						font-size: 14px;
					}
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	.footer-areas {
		.list-item {
			.item {
				position     : relative;
				color        : #eb1010;
				margin-bottom: 20px;
				padding-left : 35px;

				&:last-child {
					margin-bottom: 0;
				}

				&:after {
					content         : "";
					position        : absolute;
					height          : 7px;
					width           : 11px;
					top             : 50%;
					left            : 0;
					background-image: url(../img/icons/arrow-select-white.svg);
					transform       : translateY(-50%) rotate(-90deg);
				}
			}
		}
	}

	.footer-send-mail {
		p {
			color        : #b8b8b8;
			margin-bottom: 15px;
		}

		.form-group {
			position: relative;

			input {
				color      : #737373;
				width      : 100%;
				line-height: 45px;
				padding    : 0 150px 0 20px;
				border     : none;
				box-shadow : none;
			}

			button {
				width     : 130px;
				height    : 100%;
				position  : absolute;
				top       : 0;
				right     : 0;
				background: #ff4600;
				border    : none;
				color     : #322a28;
			}
		}
	}

	@media (max-width: 1024.98px) {
		padding-top: 30px;

		.title-footer {
			font-size: 20px;
		}

		.footer-about {
			p {
				font-size: 14px;
			}
		}

		.footer-contact {
			.list-item {
				.item {
					margin-bottom: 20px;

					p {
						margin-left: 15px;
					}

					.list-phone {
						margin-left: 15px;
					}
				}
			}
		}

		.title-footer,
		.footer-about,
		.footer-contact,
		.footer-areas,
		.footer-send-mail {
			margin-bottom: 15px;
		}
	}

	@media (max-width: 767.98px) {
		margin-bottom: -1px;
	}
}

.copyright {
	padding   : 30px 0;
	background: #182e58;

	.list-item {
		display        : flex;
		justify-content: space-between;

		.item {
			span {
				color: rgba(168, 187, 209, 0.4);
			}

			.list-social-media {
				display: flex;

				.item-social {
					margin-right: 20px;

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}

	@media (max-width: 767.98px) {
		.list-item {
			.item {
				font-size: 12px;
			}
		}
	}
}