header {
	position        : relative;
	width           : 100%;
	background-image: url(../img/bg-header.png);
	height          : 226px;
	z-index         : 100;

	.logo {
		cursor  : pointer;
		position: absolute;
		top     : 110px;
		opacity : 0;
		width   : 245px;
		height  : 115px;
		left    : 70px;
		z-index : 101;

		a {
			display: block;
			height : 100%;
			width  : 100%;
		}
	}

	.nav-list {
		position: absolute;
		top     : 60px;
		left    : 325px;
		display : flex;

		.nav-item {
			user-select : none;
			color       : #FFFFFF;
			margin-right: 100px;

			&:last-child {
				margin-right: 0;

				&:after {
					content          : '';
					background-image : url(../img/icons/arrow-select-white.svg);
					position         : absolute;
					right            : 8px;
					top              : 8px;
					width            : 12px;
					height           : 7px;
					background-repeat: no-repeat;
					background-size  : cover;
				}
			}

			select {
				color     : #FFFFFF;
				width     : 50px;
				cursor    : pointer;
				background: none;
				border    : none;
				appearance: none;
			}
		}
	}
}