section.contact
	include ../google-map/g-map.pug
	.box-form-contact
		.row
			.col-lg-4.wow.fadeInLeft(data-wow-delay=".2s")
				.list-contact
					.item-contact
						h3 Địa chỉ
						p Khu công nghiệp Phú Mỹ 1, thị trấn Phú Mỹ, tỉnh Bà Rịa - Vũng Tàu, Việt Nam
					.item-contact
						h3 Điện thoại
						p (+84) (254) 3895 118
					.item-contact
						h3 Email
						p kinhdoanh@pomina-flat-steel.com/ Export
						p Sales binh.le@pomina-flat-steel.com
					.item-contact
						h3 Social
						ul.social-media-menu
							.item
								a(href="#")
									img(src="./img/icons/facebook.svg", alt="", srcset="")
							.item
								a(href="#")
									img(src="./img/icons/youtube.svg", alt="", srcset="")
				
			.col-lg-8
				.desc.wow.fadeInLeft(data-wow-delay=".5s")
					h3 Liên Hệ
					p Thương hiệu POMINA với chất lượng sản phẩm cao và giá thành cạnh tranh – đã đạt được sự tín nhiệm của khách hàng trong nhiều năm qua. Mang lại giá trị gia tăng cho xã hội, Tôn POMINA không ngừng phấn đấu là niềm tự hào của ngành công nghiệp nặng Việt Nam.
				form(action="#")
					.form-row.wow.fadeInLeft(data-wow-delay=".5s")
						.form-group.col-lg-6
							input(type="text" placeholder="Họ & Tên")
						.form-group.col-lg-6
							input(type="phone" placeholder="Số điện thoại")
						.form-group.col-lg-12
							input(type="email" placeholder="Email")
						.form-group.col-lg-12
							textarea(placeholder="Nội dung")
					button.btn.no-box-shadow.wow.flipInX.btn(data-wow-delay=".5s") GỬI