@font-face {
    font-family: 'hel-regular';
    src: url("../fonts/HELVETICANEUE-REGULAR.OTF");
}

@font-face {
    font-family: 'hel-light';
    src: url("../fonts/HELVETICANEUE-LIGHT.OTF");
}

@font-face {
    font-family: 'hel-medium';
    src: url("../fonts/HELVETICANEUE-MEDIUM.OTF");
}

@font-face {
    font-family: 'hel-condensed';
    src: url("../fonts/helvetica-neue-condensed-black.ttf");
}

@font-face {
    font-family: 'hel-bold';
    src: url("../fonts/helvetica-neue-bold.ttf");
}

@font-face {
    font-family: 'RR';
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url("../fonts/Montserrat-Bold.ttf");
}