main {
	padding-top: 150px;
}

::-webkit-scrollbar-track {
	box-shadow      : inset 0 0 6px rgba(255, 255, 255, 0);
	background-color: #fff;
}

::-webkit-scrollbar {
	width           : 5px;
	height          : 5px;
	background-color: #fff;
}

::-webkit-scrollbar-thumb {
	border-radius   : 2.5px;
	box-shadow      : inset 0 0 6px rgba(255, 255, 255, 0);
	background-color: $main-color-1;
}

.social-list {
	display: flex;

	nav {
		margin-left: 10px;
		display    : flex;
		align-items: center;

		a {
			flex           : 0 0 30px;
			max-width      : 30px;
			display        : flex;
			justify-content: center;
		}
	}
}

.btn {
	display   : block;
	background: #FFFFFF;

	color      : $main-color-2;
	font-weight: 700;
	text-align : center;

	box-shadow   : 0 3px 6px rgba($color: #000000, $alpha: 0.3);
	border-radius: 5px;
	transition   : .3s all ease-in-out;

	&.no-box-shadow {
		color     : #FFFFFF;
		background: $main-color-2;
		box-shadow: none;
	}

	@media (min-width: 1440px) {
		&:hover {
			background: $main-color-2;
			color     : #FFFFFF;
		}
	}
}


.filter {
	display    : flex;
	align-items: center;

	h5 {
		font-size   : 21px;
		color       : #000000;
		margin-right: 20px;
	}

	.form-group {
		position: relative;

		select {
			cursor       : pointer;
			font-size    : 18px;
			color        : #777777;
			background   : #F9F9F9;
			width        : 335px;
			height       : 40px;
			font-style   : italic;
			border-radius: 5px;
			border       : none;
			padding      : 0 50px 0 25px;
			appearance   : none;
		}

		&:after {
			content          : '';
			background-image : url(../img/icons/arrow-select-red.svg);
			position         : absolute;
			right            : 15px;
			top              : 50%;
			transform        : translateY(-50%);
			width            : 12px;
			height           : 7px;
			background-repeat: no-repeat;
			background-size  : cover;
		}
	}

}

.title {
	text-align    : center;
	letter-spacing: 3px;

	span {
		font-size: 17px;
		color    : $main-color-2;
	}

	h3 {
		font-size: 29px;
		color    : #434343;
	}
}

.home-google-map {
	#map {
		width : 100%;
		height: 625px;
	}
}

.item-product {
	figure {
		cursor  : pointer;
		position: relative;
		overflow: hidden;

		.box-img {
			position: relative;
			height  : 100%;

			.name-product {
				transition: .5s all ease-in-out;

				img {
					position: absolute;
					bottom  : 30px;
					left    : 30px;
				}

				p {
					position : absolute;
					bottom   : 30px;
					left     : 50%;
					transform: translateX(-50%);

					font-size  : 21px;
					font-weight: 700;
					color      : #FFFFFF;
				}
			}
		}

		figcaption {
			position  : absolute;
			background: #FFFFFF;
			padding   : 40px;

			width : 295px;
			height: 210px;

			left     : -100%;
			top      : 50%;
			transform: translate(-50%, -50%);

			transition   : .5s all ease-in-out;
			border-radius: 5px;
			z-index      : 1;

			h5 {
				font-size : 21px;
				color     : #434343;
				text-align: center;
			}

			.btn {
				line-height: 42px;
				width      : 140px;
				margin     : 35px auto 0;
			}
		}

		&:after {
			content   : '';
			position  : absolute;
			width     : 100%;
			height    : 100%;
			top       : 0;
			right     : -100%;
			background: $main-color-1;
			opacity   : .5;
			transition: .5s all ease-in-out;
		}

		@media (min-width: 1440px) {
			&:hover {
				.box-img {
					.name-product {
						opacity: 0;
					}
				}

				figcaption {
					left: 50%;
				}

				&:after {
					right: 0;
				}
			}
		}
	}
}

.home-news-item {
	flex     : 0 0 50%;
	max-width: 50%;
	padding  : 0 40px;

	figure {
		.box-img {
			position: relative;
			height  : 370px;
			overflow: hidden;

			img {
				transition: 1s all ease-in-out;
			}

			.date {
				position     : absolute;
				left         : 40px;
				top          : 40px;
				padding      : 10px;
				border-radius: 10px;
				color        : #FFFFFF;
				background   : $main-color-2;

				h5 {
					font-size: 40px;
				}

				span {
					font-size: 24px;
				}
			}
		}

		figcaption {
			padding   : 35px;
			background: #FFFFFF;
			box-shadow: 0px 9px 15px rgba($color: #000000, $alpha: .16);

			.desc {
				padding-bottom: 40px;
				position      : relative;

				&:after {
					content   : '';
					position  : absolute;
					left      : 0;
					bottom    : 0;
					width     : 100%;
					height    : 1px;
					background: #dedede;
				}

				p {
					height            : 62px;
					font-size         : 21px;
					font-weight       : 700;
					color             : #434343;
					-webkit-line-clamp: 2;
				}
			}

			.bottom {
				margin-top     : 30px;
				display        : flex;
				justify-content: space-between;
				font-size      : 17px;

				span {
					color: #9B9B9B;
				}

				a {
					color: #124E91;
				}
			}
		}

		@media (min-width: 1440px) {
			&:hover {
				.box-img {
					img {
						transform: scale(1.2);
					}
				}
			}
		}
	}
}

.item-news {
	margin-bottom: 20px;

	figure {
		display  : flex;
		flex-wrap: wrap;
		height   : 308px;

		.box-img {
			flex     : 0 0 33.333333%;
			max-width: 33.333333%;
			height   : 100%;

			position: relative;
			overflow: hidden;

			img {
				transition: 1s all ease-in-out;
			}

			.date {
				position     : absolute;
				left         : 40px;
				top          : 40px;
				padding      : 10px;
				border-radius: 10px;
				color        : #FFFFFF;
				background   : $main-color-2;

				h5 {
					font-size: 40px;
				}

				span {
					font-size: 24px;
				}
			}
		}

		figcaption {
			flex        : 0 0 66.666667%;
			max-width   : 66.666667%;
			padding-left: 15px;

			.box-content {
				border : 1px solid #F5F5F5;
				height : 100%;
				padding: 50px 100px;

				h3 {
					position          : relative;
					font-size         : 21px;
					color             : #434343;
					font-weight       : 700s;
					max-height        : 82px;
					-webkit-line-clamp: 2;
				}

				hr {
					border: 1px solid #dedede;
					margin: 20px 0 15px;
				}

				p {
					font-size         : 18px;
					color             : #777777;
					max-height        : 54px;
					-webkit-line-clamp: 2;
				}

				.bottom {
					margin-top     : 35px;
					display        : flex;
					justify-content: space-between;
					font-size      : 17px;

					span {
						color: #9B9B9B;
					}

					a {
						color: #124E91;
					}
				}
			}
		}

		@media (min-width: 1440px) {
			&:hover {
				.box-img {
					img {
						transform: scale(1.1);
					}
				}
			}
		}
	}
}

.vismis {
	margin       : 100px 0;
	padding-right: 40px;

	.main-title {
		font-size    : 34px;
		color        : #2B2B2B;
		font-weight  : 700;
		margin-bottom: 40px;
	}

	.title-news {
		font-size    : 29px;
		font-weight  : 700;
		color        : #434343;
		margin-bottom: 20px;
	}

	.time-news,
	.author {
		position      : relative;
		color         : #777777;
		font-size     : 18px;
		line-height   : 1;
		letter-spacing: 4px;
		padding-left  : 35px;

		&:after {
			content        : '';
			position       : absolute;
			left           : 0;
			bottom         : 0;
			background-size: 20px;
			width          : 20px;
			height         : 1px;
			background     : red;
		}
	}

	.author {
		margin-top: 5px;
		float     : right;
	}

	.ckFinder {
		p {
			font-size    : 18px;
			color        : #4D4D4D;
			margin-bottom: 15px;
		}

		figure {
			margin: 30px 0;

			img {
				width: 100%;
			}
		}
	}

	@media (max-width: 1024.98px) {
		margin       : 30px 0;
		padding-right: 15px;

		.main-title {
			margin-bottom: 15px;
		}

		.title-news {
			margin-bottom: 0px;
		}

		.title-img {
			margin: 15px 0;
		}
	}

	@media (max-width: 767.98px) {
		margin: 15px 0;

		.title-news {
			font-size: 24px;
		}

		.main-title {
			font-size: 24px;
		}

		.ckFinder {
			p {
				font-size: 16px;
			}
		}

		.title-img {
			font-size: 16px;
		}
	}
}