[hidden],
.d-none,
.hidden {
	display: none !important;
}

.ofc {
	width          : 100%;
	height         : 100%;
	object-fit     : cover;
	object-position: center;
	font-family    : 'object-fit: cover, object-position: center';
}

.blur-up {
	filter    : blur(10px);
	transition: filter 1s;

	&.lazy-loaded {
		filter: blur(0);
	}
}

.btn {
	text-align   : center;
	background   : #FFFFFF;
	line-height  : 45px;
	width        : 220px;
	border       : 1px solid #707070;
	border-radius: 23px;
	transition   : .3s all ease-in-out;

	>a,
	span {
		cursor     : pointer;
		display    : block;
		font-size  : 16px;
		font-weight: 700;
		color      : #2B2B2B;
		width      : 100%;
		height     : 100%;
	}

	&.bg-blue {
		color     : #FFFFFF;
		background: #3E4095;
	}

	&:hover {
		background: #BC2E31;
		color     : #FFFFFF;
		border    : 1px solid transparent;

		>a,
		span {
			color: #FFFFFF;
		}

		&.bg-blue {
			color     : #FFFFFF;
			background: #3E4095;
			border    : 1px solid #707070;
		}
	}

	@media (max-width: 767.98px) {
		width: 190px;
	}
}

.btn-noClick {
	text-align   : center;
	background   : #FFFFFF;
	line-height  : 45px;
	width        : 220px;
	border       : 1px solid #707070;
	border-radius: 23px;
	transition   : .3s all ease-in-out;

	>a,
	span {
		cursor     : pointer;
		display    : block;
		font-size  : 16px;
		font-weight: 700;
		color      : #2B2B2B;
		width      : 100%;
		height     : 100%;
	}
}

.limit-line {
	overflow          : hidden;
	text-overflow     : ellipsis;
	display           : -webkit-box;
	-webkit-box-orient: vertical;
}