.home-banner {
	.slider-HomeBanner {
		figure {
			position: relative;
			height  : 800px;
		}
	}

	// SET HIỆU ỨNG CHO SLIDER
	.swiper-container {
		.swiper-slide {
			figure {
				img {
					transition      : 1s all ease-in-out;
					transform-origin: 0 0;
					animation       : leaves 5s ease-in-out infinite alternate;

					@-webkit-keyframes leaves {
						0% {
							-webkit-transform: scale(1);
						}

						100% {
							-webkit-transform: scale(1.1);
						}
					}

					@keyframes leaves {
						0% {
							transform: scale(1);
						}

						100% {
							transform: scale(1.1);
						}
					}
				}
			}

			&.swiper-slide-active {
				figure {
					img {
						transform: scale(1.2);
					}
				}
			}
		}

		.swiper-button-next,
		.swiper-button-prev {
			background-size  : cover;
			width            : 80px;
			height           : 80px;
			background-repeat: no-repeat;
			z-index          : 1;
			transition       : .3s all ease-in-out;
		}

		.swiper-button-next {
			background-image: url(../img/icons/next-home-banner.svg);
		}

		.swiper-button-prev {
			background-image: url(../img/icons/prev-home-banner.svg);
		}
	}
}