.home-banner {
	.slider-HomeBanner {
		figure {
			position: relative;
			height  : 800px;
		}
	}

	// SET HIỆU ỨNG CHO SLIDER
	.swiper-container {
		.swiper-slide {
			figure {
				img {
					transition      : 1s all ease-in-out;
					transition-delay: 1s;


					animation: mymove 7s infinite;

					@-webkit-keyframes mymove {
						0% {
							transform: scale(1);
						}

						25% {
							transform: scale(1.1);
						}

						50% {
							transform: scale(1.1);
						}

						75% {
							transform: scale(1.2);
						}

						100% {
							transform: scale(1.2);
						}
					}
				}
			}

			&.swiper-slide-active {
				figure {
					img {
						transform: scale(1.3);
					}
				}
			}
		}

		.swiper-button-next,
		.swiper-button-prev {
			background-size  : cover;
			width            : 80px;
			height           : 80px;
			background-repeat: no-repeat;
			z-index          : 1;
			transition       : .3s all ease-in-out;
		}

		.swiper-button-next {
			background-image: url(../img/icons/next-home-banner.svg);
		}

		.swiper-button-prev {
			background-image: url(../img/icons/prev-home-banner.svg);
		}
	}
}